<h2>Current Weather Conditions</h2>

<input type="text" id="txtCityState" name="txtCityState" placeholder="city, state" [(ngModel)]="cityState">
<button class="btn btn-primary" id="btnCityStateGo" (click)="getForecatsByCityState()">GO</button>
<br>
<input type="text" id="txtZipcode" name="txtZipcode" placeholder="zip code" [(ngModel)]="zipcode">
<button class="btn btn-primary" id="btnZipcodeGo" (click)="getForecatsByZipcode()">GO</button>
<br>
<input type="text" id="txtCoordinates" name="txtCoordinates" placeholder="latitude, longitude" [(ngModel)]="coordinates">
<button class="btn btn-primary" id="btnCoordinatesGo" (click)="getForecatsByCoordinates()">GO</button>
<hr>
<div id="conditionsResult">
    <label>Current temperature: &nbsp;</label>
    {{currentConditions.temperature}}
    <br>
    <label>Current conditions: &nbsp;</label>
    {{currentConditions.description}}
</div>